<footer class="footer  ">
    <div class="container text-center">
      <a class="cc-linkedin btn btn-link " href="https://www.linkedin.com/in/hunghan-chen-70710b8b/" target="_blank">
        <i class="fa fa-linkedin fa-2x " aria-hidden="true"></i>
      </a>
      <a class="cc-github btn btn-link " href="https://github.com/hunghanchen" target="_blank">
        <i class="fa fa-github fa-2x " aria-hidden="true"></i>
      </a>
      <a class="cc-github btn btn-link " href="mailto:chenhung@sheridancollege.ca" target="_blank">
        <i class="fa fa-envelope fa-2x " aria-hidden="true"></i>
      </a>
    </div>
  </footer>