<div class="section" id="experience">
   <div class="container py-5 cc-education">
      <div class="h4 text-center mb-4 title">Work Experience</div>
          <div class="row">
              <div class="col-lg-12 mx-auto">
                  <ul class="timeline">
                      <li class="timeline-item rounded ml-3 p-4 shadow">
                          <div class="timeline-arrow"></div>
                          <h2 class="h5 mb-1">Application Developer</h2>
                          <h3 class="h5 mb-1"><b>CIBC</b></h3>
                          <span class="large text-gray"><i class="fa fa-clock-o mr-1 mb-2"></i>Sep, 2020 - Present</span>
                          <ul class="exp-size">
                           <li>Monitored applications performance using Dynatrace, and Grafana to analyze application’s instances e.g. Response time, failure rate, average throughput, etc.</li>
                           <li>Analyzed correlates real-time data and diagnose logs and batch file to support applications using Splunk and OpenShift</li>
                           <li>Developed web application to scrape various banks rates and special offers and compare using Python, Beautiful Soup library, and Selenium</li>
                           <li>Explored alternate features and implement new tools in order to be more user-friendly</li>
                       </ul>
                      </li>
                      <li class="timeline-item rounded ml-3 p-4 shadow">
                        <div class="timeline-arrow"></div>
                        <h2 class="h5 mb-1">Developer</h2>
                        <h3 class="h5 mb-1"><b>TD Bank</b></h3>
                        <span class="large text-gray"><i class="fa fa-clock-o mr-1 mb-2"></i>Jan, 2020 - Apr, 2020</span>
                        <ul class="exp-size">
                           <li>Designed and developed automation switch working environment script using Python</li>
                           <li>Create automated CI/CD pipeline which set up for bitbucket branch, build automation, and deploy in the Wildfly server using Jenkins</li>
                           <li>Worked on mainframe with credit team modify programs and JCL to generate standard mortgage reports</li>
                           <li>Used AngularJS services to integrate with RESTful APIs calls to Java backend, and web design</li>
                           <li>Developed new of existing features and fix bugs through Java, and PostgreSQL </li>
                           <li>Involved in Agile/SCRUM process, participate daily meeting and work on tasks in sprints </li>
                       </ul>
                    </li>
                    <li class="timeline-item rounded ml-3 p-4 shadow">
                     <div class="timeline-arrow"></div>
                     <h2 class="h5 mb-1">Realtor </h2>
                     <h3 class="h5 mb-1"><b>Yung-Ching Realty Group</b></h3>
                     <span class="large text-gray"><i class="fa fa-clock-o mr-1 mb-2"></i>May, 2015 - Apr, 2018</span>
                     <ul class="exp-size">
                        <li>Analyzed market trends, according to the history of transactions, banking interest rate, and regulations to accurately advise clients and generate the professional proposal</li>
                            <li>Obtained the latest house nearby sold price to give advice to clients to determine the ideal price</li>
                            <li>Helped clients to understand what kinds of properties they are seeking</li>
                            <li>Collected properties on the market around the area, house marketing magazine, government regulations, and relative information to up to date knowledge of real estate market</li>
                            <li>Proposed to client’s market circumstance, price trending, rate of the mortgage, and legal regulations</li>
                            <li>Arranged between buyer and seller when the final price needs to be negotiated and introduce details of housing buying and selling transactions </li>
                    </ul>
                 </li>
                  </ul>
  
              </div>
          </div>
      </div>
  
</div>


