<div class="section" id="about">
    <div class="container">
      <div class="card" data-aos="fade-up" data-aos-offset="10">
        <div class="row">
            <div class="card-body">
              <div class="h4 mt-0 title">About</div>
              <ul>
                <li>Experienced in Java, Spring Boot, Python, Jenkins, Django, Maven, AngularJS, database design, MySQL, Mainframe, , and Restful API through hand-on projects and internship experience</li>
                <li>Deployed SonarQube in OpenShift building Dockerfile and yaml file to configure Toad Database, CPU size and documentation</li>
                <li>Developed automated Python script which manages to switch different working environments</li>
                <li>Monitored and analysed applications performance through Grafana, Dynatrace, OpenShift, and Splunk</li>
                <li>Create automated CI/CD pipeline which set up for bitbucket branch, build automation, and deploy in the Wildfly server using Jenkins</li>
                <li>Developed personal Airplane schedule tracker website through Django, RESTful API, Angular and PostgreSQL skills</li>
              </ul>         
            </div>
        </div>
      </div>
    </div>
  </div>