<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2018 - 2020</p>
              <div class="h5">College Degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Software Development and Networking Engineering</div>
               <h4 class="category">Sheridan Institute of Technology and Advanced Learning
               </h4>
               <ul>
                <li> Graduated with a strong academic standing GPA of <b>3.8/4.0</b></li>
                <li>Sheridan Student Union/ International Student Community</li>
                <li>Obtained <b>2 terms of internship as a Developer</b> at TD Bank and CIBC</li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2009 - 2013</p>
              <div class="h5">Bachelor's degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Bachelor of Department of International Business</div>
               <h4 class="category">National Taipei University of Business
               </h4>
               <ul>
                <li>International trade expertise, finance expertise, management expertise and ethics, innovation and
                  integration ability</li>
                <li>Internship in department of insurance at Fubon bank for four months and passed Personal insurance
                  representative exam to obtained certificate</li>
             </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>